@charset "utf-8";

#wrap {
    overflow-y: hidden;
    position: relative;
    height: 100vh;
}

.js-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.contents {
    position: relative;
}

.form,
.greetingTxt {
    display: none;
}

.form.on,
.greetingTxt.on {
    display: block;
}